@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-family: "Roboto Condensed", sans-serif;
    --bg-color: #FDFFC2;
    --primary-color: #874CCC; 
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
    margin: 0;
    font-family: var(--font-family);
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 4em;
}

h3 {
    font-size: 2em;
    margin-top: 1.5rem;
}

.mensagem {
    font-size: 1.5em;
    margin-top: 3rem;
}

.box {
    border: 0.2rem solid var(--primary-color);
    display: inline-block;
    font-size: 4rem;
    padding: 0.5rem;
    margin: 1rem;
}

.btn-jogar {
    padding: .8rem 1.5rem;
    border: 0;
    background: var(--primary-color);
    border-radius: .5rem;
    margin-top: 2rem;
}